table{
    border-collapse: collapse;
    border:solid;
    text-align: left;
}
td, th{
    border:solid;
    text-align: left;
    background: #00d1ff;
}
img{
    height: 180px;
}
img:hover{
    height: 780px;
}