<<<<<<< HEAD
ol{
    list-style-position: inside;
    list-style-type: decimal-leading-zero;
}
li:hover{
    color: blue;
}
input{
    border: solid 1px #00d1ff;
    border-radius: 5px;
}
input[type=text]:active{
    color: red;
}
input[type=submit]:active{
    color: darkgrey;
=======
ol{
    list-style-position: inside;
    list-style-type: decimal-leading-zero;
}
li:hover{
    color: blue;
}
input{
    border: solid 1px #00d1ff;
    border-radius: 5px;
}
input[type=text]:active{
    color: red;
}
input[type=submit]:active{
    color: darkgrey;
>>>>>>> 763f66262b68bc7bbf5fc36340fbeb0525df587e
}