*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #d1d5db;
    background-color: #2d3748;
    text-align: center;
    font-size: 20px;
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

}

div{
    padding: 10px;
    margin: 10px;
    border: 1px solid #d1d5db;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    width: 500px;
}