body{
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    align-content: center;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.77);
    border-radius: 10px;
    width: 450px;
    height: 600px;
    background-color: white;
}

img{
    width: 50%;
}
